@model ATLManager.ViewModels.RefeicaoEditViewModel
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager


@{
    ViewData["Title"] = "Edit";
}
<link rel='stylesheet' type='text/css' media='screen' href='~/css/custom-box-12.css'>


@if (SignInManager.IsSignedIn(User))
{
    <!-- Fase 1  -->
    <!-- d-flex -->
    <!-- Container -->
    <div class="container-fluid">
        <div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 0%;">
            <h1 class="me-3 fw-bold text-center mb-0">Editar Refeição</h1>
            <img src="~/images/icons/edit-group.png" width="50" height="50">
        </div>

        <div class="row" style="padding-left: 6em;">
            <div class="col text-right pb-2" id="divQuestion">
                <button class="btn btn-primary rounded-circle" id="btn-ajuda">
                    <img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
                </button>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <!-- Box  -->
            <div class="row justify-content-center custom-box" id="myBox">
                <div class="row box border-5">
                    <!--text-center  -->

                    <div class="container">
                        <form enctype="multipart/form-data" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="RefeicaoId" />
                            <div class="row mb-3">
                                <div class="col-6 mb-3">
                                    <label asp-for="Name" class="form-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="col-6 position-relative mt-2">
                                    <div class="row">
                                        <div class="h-100 position-absolute top-0 end-0">
                                            <!-- extended box content -->
                                            <div class="row mb-2">
                                                <div class="d-flex justify-content-center ms-2 pb-1">
                                                    <img src="~/images/icons/info_ementa.png" width="30" height="30">
                                                    <div style="margin-left: 1%;">
                                                        <h4 class="fw-bold text-center">Informação Nutricional</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-6">
                                                    <label asp-for="Proteina" class="form-label"></label>
                                                    <input asp-for="Proteina" class="form-control" />
                                                    <span asp-validation-for="Proteina" class="text-danger"></span>
                                                </div>
                                                <div class="col-6">
                                                    <label asp-for="HidratosCarbono" class="form-label"></label>
                                                    <input asp-for="HidratosCarbono" class="form-control" />
                                                    <span asp-validation-for="HidratosCarbono" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-6">
                                                    <label asp-for="VR" class="form-label"></label>
                                                    <input asp-for="VR" class="form-control" />
                                                    <span asp-validation-for="VR" class="text-danger"></span>
                                                </div>
                                                <div class="col-6">
                                                    <label asp-for="Acucar" class="form-label"></label>
                                                    <input asp-for="Acucar" class="form-control" />
                                                    <span asp-validation-for="Acucar" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-6">
                                                    <label asp-for="Lipidos" class="form-label"></label>
                                                    <input asp-for="Lipidos" class="form-control" />
                                                    <span asp-validation-for="Lipidos" class="text-danger"></span>
                                                </div>
                                                <div class="col-6">
                                                    <label asp-for="ValorEnergetico" class="form-label"></label>
                                                    <input asp-for="ValorEnergetico" class="form-control" />
                                                    <span asp-validation-for="ValorEnergetico" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-6">
                                                    <label asp-for="AGSat" class="form-label"></label>
                                                    <input asp-for="AGSat" class="form-control" />
                                                    <span asp-validation-for="AGSat" class="text-danger"></span>
                                                </div>
                                                <div class="col-6">
                                                    <label asp-for="Sal" class="form-label"></label>
                                                    <input asp-for="Sal" class="form-control" />
                                                    <span asp-validation-for="Sal" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Categoria" class="form-label"></label>
                                        <select asp-for="Categoria" class="form-control" id="exampleFormControlSelect1">
                                            <option value=""></option>
                                            <option value="Carne">Carne</option>
                                            <option value="Peixe">Peixe</option>
                                            <option value="Vegetariano">Vegertariano</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Categoria" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label asp-for="Data" class="form-label">Data Atual - @Html.DisplayFor(model => model.Data)</label>
                                    <input asp-for="Data" class="form-control" />
                                    <span asp-validation-for="Data" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label asp-for="Descricao" class="form-label"></label>
                                    <input asp-for="Descricao" class="form-control" />
                                    <span asp-validation-for="Descricao" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-6 mb-3">
                                <label asp-for="Picture" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="Picture" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="Picture" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-flex text-center mt-4">
                                <div class="col text-right">
                                    <a asp-action="Index">
                                        <button type="button"
                                                class="btn btn-secondary custom-button w-50" style="border-radius:6em">
                                            Voltar
                                        </button>
                                    </a>
                                </div>
                                <div class="col text-left">
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary w-50" style="border-radius:6em" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- // Box -->
        </div>
    </div>

   	    <!-- Slide de Ajuda  -->
    <div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">

        <div class="row text-center mt-2">
            <div class="col-10 ">
                <h2 class="text-white ms-5">Ajuda</h2>
            </div>

            <div class="col-2">
                <button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
            </div>
        </div>
        <div class="">
            <input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
                placeholder="Procure artigos que o ajude" aria-label="Search" style="border-radius: 10px;">
        </div>
        <!-- -->
        <ul class="row justify-content-center p-4 bg-white mt-4 "
            style="position: absolute;   right: 0em; left: 0em; height: 80%;">
            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>Como alterar uma visita de estudo</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
                    Here's some more textHere's some more textHere's some more textHere's some
                    more textHe

                </span>
            </li>


            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/terms.png" class="">
                        </div>
                        <div class="col">
                            <span>Leia artigos de ajuda</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center">
                        <div class="col-3">
                            <img src="~/images/guide/comunity.png" class="">
                        </div>
                        <div class="col">
                            <span>Pergunte à comunidade</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/new.png" class="">
                        </div>
                        <div class="col">
                            <span>Novas Atualizações</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/feedback.png" class="">
                        </div>
                        <div class="col">
                            <span>Dê Feedback</span>
                        </div>
                    </div>

                </button>
            </li>
        </ul>
    </div>
    <!-- // Slide de Ajuda  -->

    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>


    <!--  Options Script -->
    <script>
        const toggleSwitch = document.getElementById('toggleSwitch');
        const divAgrupamento = document.getElementById('divAgrupamento');
        const divCertidao = document.getElementById('divCertidao');


        toggleSwitch.addEventListener('change', function () {
            if (toggleSwitch.checked) {
                divAgrupamento.style.display = 'block';
                divCertidao.style.display = 'none';
            } else {
                divAgrupamento.style.display = 'none';
                divCertidao.style.display = 'block';
            }
        });
    </script>
    <!--  // Options Script -->
    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

}