@model ATLManager.ViewModels.EducandoEditViewModel
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager


@{
    ViewData["Title"] = "Edit";
}

@if (SignInManager.IsSignedIn(User))
{
	<!-- Container -->
	<div class="container-fluid">
		<div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 2%;">
			<h1 class="me-3 fw-bold text-center mb-4">Alterar Educando</h1>
			<img src="~/images/icons/add-group.png" width="50" height="50">
		</div>

		<div class="row pt-5" style="padding-left: 6em;">
			<div class="col-3"></div>
			<div class="col-5"></div>
			<div class="col-4  pb-2" id="divQuestion">
				<button class="btn btn-primary rounded-circle" id="btn-ajuda">
					<img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
				</button>
			</div>
		</div>

		<div class="d-flex justify-content-center">
			<!-- Box  -->
			<div class="row col-6 justify-content-center custom-box" id="myBox">
				<div class="row box border-5">
					<!--text-center  -->
					<div class="container">
						<form enctype="multipart/form-data" asp-action="Edit">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<input type="hidden" asp-for="EducandoId" />
							<div class="row mb-3">
								<div class="col">
									<label asp-for="Name" class="control-label" placeholder="Insira um nome"></label>
									<input asp-for="Name" class="form-control" />
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
								<div class="col">
									<label asp-for="Apelido" class="control-label"></label>
									<input asp-for="Apelido" class="form-control" placeholder="Insira um apelido" />
									<span asp-validation-for="Apelido" class="text-danger"></span>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col">
									<label asp-for="CC" class="control-label"></label>
									<input asp-for="CC" class="form-control" placeholder="Insira um numero de CC" />
									<span asp-validation-for="CC" class="text-danger"></span>
								</div>
								<div class="col">
									<label asp-for="Genero" class="control-label"></label>
									<select asp-for="Genero" class="form-control">
										<option value=null>Escolha um genero</option>
										<option value="Masculino">Masculino</option>
										<option value="Feminino">Feminino</option>
									</select>
									<span asp-validation-for="Genero" class="text-danger"></span>
								</div>
							</div>
							<div class="row mt-5">
								<div class="col">
									<label asp-for="EncarregadoId" class="control-label">Encarregado</label>
									<select asp-for="EncarregadoId" class="form-control" asp-items="ViewBag.EncarregadoId">
										<option value=null>Escolha um Encarregado</option>
									</select>
								</div>
								<div class="col">
									<label asp-for="BirthDate" class="control-label" placeholder="Insira um nome"></label>
									<input asp-for="BirthDate" class="form-control" />
									<span asp-validation-for="BirthDate" class="text-danger"></span>
								</div>
							</div>
							<div class="row mt-5">
								<div class="col">
									<label asp-for="DeclaracaoMedica" class="control-label"> Declaração Médica (PDF)</label>
								</div>
								<div class="col">							
									<label asp-for="BoletimVacinas" class="control-label">Boletim de Vacinas (PDF)</label>								
								</div>
								<div class="col">							
									<label asp-for="ProfilePicture" class="control-label">Imagem do educando</label>			
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="custom-file">
										<input asp-for="DeclaracaoMedica" class="custom-file-input" id="customFile">
										<label class="custom-file-label" for="customFile">Choose file</label>
									</div>
									<span asp-validation-for="DeclaracaoMedica" class="text-danger"></span>
								</div>
								<div class="col">
									<div class="custom-file">
										<input asp-for="BoletimVacinas" class="custom-file-input" id="customFile">
										<label class="custom-file-label" for="customFile">Choose file</label>
									</div>
									<span asp-validation-for="BoletimVacinas" class="text-danger"></span>
								</div>
								<div class="col">
									<div class="custom-file">
										<input asp-for="ProfilePicture" class="custom-file-input" id="customFile">
										<label class="custom-file-label" for="customFile">Choose file</label>
									</div>
									<span asp-validation-for="ProfilePicture" class="text-danger"></span>
								</div>
							</div>
							<div class="row mt-4 justify-content-center">
								<div class="col-md-auto">
									<div class="row">
										<div class="col-md-6 mb-3">
											<a asp-action="Index">
												<button type="button"
														class="btn btn-secondary custom-button">
													Voltar
												</button>
											</a>
										</div>
										<div class="col-md-6 mb-3">
											<button type="submit"
													class="btn btn-primary custom-button">
												Save
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- // Box -->
		</div>
	</div>
	<!-- // Container -->
	    <!-- Slide de Ajuda  -->
    <div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">

        <div class="row text-center mt-2">
            <div class="col-10 ">
                <h2 class="text-white ms-5">Ajuda</h2>
            </div>

            <div class="col-2">
                <button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
            </div>
        </div>
        <div class="">
            <input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
                placeholder="Procure artigos que o ajude" aria-label="Search" style="border-radius: 10px;">
        </div>
        <!-- -->
        <ul class="row justify-content-center p-4 bg-white mt-4 "
            style="position: absolute;   right: 0em; left: 0em; height: 80%;">
            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>Como alterar uma visita de estudo</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
                    Here's some more textHere's some more textHere's some more textHere's some
                    more textHe

                </span>
            </li>


            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/terms.png" class="">
                        </div>
                        <div class="col">
                            <span>Leia artigos de ajuda</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center">
                        <div class="col-3">
                            <img src="~/images/guide/comunity.png" class="">
                        </div>
                        <div class="col">
                            <span>Pergunte à comunidade</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/new.png" class="">
                        </div>
                        <div class="col">
                            <span>Novas Atualizações</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/feedback.png" class="">
                        </div>
                        <div class="col">
                            <span>Dê Feedback</span>
                        </div>
                    </div>

                </button>
            </li>
        </ul>
    </div>
    <!-- // Slide de Ajuda  -->


	<script type="text/javascript">
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>

	@section Scripts {
	@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}

	<script>
		window.onload = function () {
			var divBox = document.getElementById("myBox")

			if (screen.width >= 1366 && screen.height >= 768 && screen.width < 1920 && screen.height <= 1080) {
				// Large screen
				divBox.classList.remove("col-6");
				divBox.classList.add("col-8");
			}
		}
	</script>
}
