@model ATLManager.ViewModels.AtividadeCreateViewModel
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager

@{
	ViewData["Title"] = "Create";
}
@if (SignInManager.IsSignedIn(User))
{

	<!-- Fase 1  -->
	<!-- d-flex -->
	<!-- Container -->
	<div class="container-fluid">
		<div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 2%;">
			<h1 class="me-3 fw-bold text-center mb-4">Criar Atividade - Calendário</h1>
			<img src="~/images/icons/add-group.png" width="50" height="50">
		</div>

		<div class="row" style="padding-left: 6em;">
			<div class="col-3"></div>
			<div class="col-5"></div>
			<div class="col-4" pb-2" id="divQuestion">
				<button class="btn btn-primary rounded-circle" id="btn-ajuda">
					<img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
				</button>
			</div>
		</div>
		<div class="d-flex justify-content-center" id="divFase1">
			<!-- Box  -->
			<div class="row col-6 justify-content-center custom-box" id="myBox">
				<div class="row box border-5 p-5">
					<!--text-center  -->
					<div class="container">
						<div class="row mt-3">
							<div class="mb-3">
								<div class="row">
									<div class="col-md">
										<form enctype="multipart/form-data" asp-action="Create">
											<div asp-validation-summary="ModelOnly" class="text-danger"></div>
											<div class="row mb-2">
												<div class="col-6">
													<label asp-for="Name" class="form-label"></label>
													<input asp-for="Name" class="form-control" placeholder="Insira o nome" />
													<span asp-validation-for="Name" class="text-danger"></span>
												</div>
												<div class="col-6">
													<!-- 
													<div class="form-group">
														<label asp-for="Picture" class="control-label">Imagem da atividade</label>
														<div class="custom-file">
															<input asp-for="Picture" class="custom-file-input" id="customFile">
															<label class="custom-file-label" for="customFile">Escolha um ficheiro</label>
														</div>
														<span asp-validation-for="Picture" class="text-danger"></span>
													</div>
													-->
													<label asp-for="Picture" class="control-label"></label>
													<input asp-for="Picture" class="file-input">
													<span asp-validation-for="Picture" class="text-danger"></span>
												</div>
											</div>
											<div class="row mb-2">
												<div class="col-6">
													<label asp-for="StartDate" class="control-label">Data Inicial</label>
													<input asp-for="StartDate" class="form-control" />
													<span asp-validation-for="StartDate" class="text-danger"></span>
												</div>

												<div class="col-6 position-relative">
													<div class="row">
														<div class="h-100 position-absolute top-0 end-0">
															<!-- extended box content -->
															<div class="row mb-2">
																<div class="col">
																	<label asp-for="Description" class="control-label">Descrição</label>
																	<textarea asp-for="Description" class="form-control" style="height:8em;resize:none" placeholder="Insira uma descrição"></textarea>
																	<span asp-validation-for="Description" class="text-danger"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row mb-2">
												<div class="col-6">
													<label asp-for="EndDate" class="control-label">Data Final</label>
													<input asp-for="EndDate" class="form-control" />
													<span asp-validation-for="EndDate" class="text-danger"></span>
												</div>
											</div>
											<div class="row justify-content-center mt-4">
												<div class="col-md-auto mt-4">
													<div class="row">
														<div class="col-md-6 mb-3">
															<a asp-action="Index">
																<button type="button"
																		class="btn btn-secondary custom-button">
																	Voltar
																</button>
															</a>
														</div>
														<div class="col-md-6 mb-3">
															<button type="submit"
																	class="btn btn-primary custom-button">
																Criar
															</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // Box -->
		</div>
	</div>


	<!-- Slide de Ajuda  -->
	<div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">

		<div class="row text-center mt-2">
			<div class="col-10 ">
				<h2 class="text-white ms-5">Ajuda</h2>
			</div>

			<div class="col-2">
				<button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
			</div>
		</div>
		<div class="">
			<input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
				   placeholder="Procure artigos que o ajude" aria-label="Search" style="border-radius: 10px;">
		</div>
		<!-- -->
		<ul class="row justify-content-center p-4 bg-white mt-4 "
			style="position: absolute;   right: 0em; left: 0em; height: 80%;">
			<li class="row">
				<button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
					<div class="d-flex align-items-center justify-content-center">

						<span>Como alterar uma visita de estudo</span>
						<img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
					</div>
				</button>
				<span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
					Here's some more textHere's some more textHere's some more textHere's some
					more textHe

				</span>
			</li>
			<li class="row">
				<button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
					<div class="d-flex align-items-center justify-content-center">
						<div class="col-3">
							<img src="~/images/guide/terms.png" class="">
						</div>
						<div class="col">
							<span>Leia artigos de ajuda</span>
						</div>
					</div>
				</button>
			</li>
			<li class="row">
				<button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
					<div class="d-flex align-items-center">
						<div class="col-3">
							<img src="~/images/guide/comunity.png" class="">
						</div>
						<div class="col">
							<span>Pergunte à comunidade</span>
						</div>
					</div>
				</button>
			</li>
			<li class="row">
				<button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
					<div class="d-flex align-items-center justify-content-center">
						<div class="col-3">
							<img src="~/images/guide/new.png" class="">
						</div>
						<div class="col">
							<span>Novas Atualizações</span>
						</div>
					</div>
				</button>
			</li>
			<li class="row">
				<button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
					<div class="d-flex align-items-center justify-content-center">
						<div class="col-3">
							<img src="~/images/guide/feedback.png" class="">
						</div>
						<div class="col">
							<span>Dê Feedback</span>
						</div>
					</div>
				</button>
			</li>
		</ul>
	</div>
	<!-- // Slide de Ajuda  -->

	<script>
		window.onload = function () {
			var divBox = document.getElementById("myBox")
			var divQuestion = document.getElementById("divQuestion")

			if (screen.width >= 1366 && screen.height >= 768 && screen.width < 1920 && screen.height <= 1080) {
				// Large screen
				divBox.classList.remove("col-6");
				divBox.classList.add("col-12");

				divQuestion.classList.add("text-right");
				divQuestion.style.paddingRight("2em");
			}
		}
	</script>
}