@using ATLManager.Services;

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
@inject LanguageService language

<div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 2%;">
    <h1 class="me-3 fw-bold text-center mb-4">@language.GetKey("titleManageAccount") </h1>
    <img src="~/images/icons/add-group.png" width="50" height="50">
</div>

<div>
    @*<h2>@language.GetKey("txtManageAccount")</h2>*@
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
