@page
@using ATLManager.Services;

@model ChangePasswordModel
@{
    ViewData["Title"] = language.GetKey("titleChangePassword");
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@inject LanguageService language


<div class="container-fluid">

	<!--
		<div class="row" style="padding-left: 6em;">
			<div class="col-3"></div>
			<div class="col-5"></div>
			<div class="col-4" pb-2" id="divQuestion">
				<button class="btn btn-primary rounded-circle mb-3" id="btn-ajuda">
					<img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
				</button>
			</div>
		</div>
	-->
	<div class="d-flex justify-content-center" id="divFase1">
		<!-- Box  -->
		<div class="row col-12 justify-content-center custom-box mt-5" id="myBox">
			<div class="row box border-5 p-3">
				<!--text-center  -->
				<div class="container">
					<div class="row mt-3">
						<div class="mb-3">
							<partial name="_StatusMessage" for="StatusMessage" />
							<div class="row">
								<div class="col-md-3"></div>
								<div class="col-md-6">
									<form id="change-password-form" method="post">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<div class="row form-floating mb-3">
											<input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
											<label asp-for="Input.OldPassword" class="form-label">@language.GetKey("oldPassword")</label>
											<span asp-validation-for="Input.OldPassword" class="text-danger"></span>
										</div>
										<div class="row form-floating mb-3">
											<input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
											<label asp-for="Input.NewPassword" class="form-label">@language.GetKey("newPassword")</label>
											<span asp-validation-for="Input.NewPassword" class="text-danger"></span>
										</div>
										<div class="row form-floating mb-3">
											<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
											<label asp-for="Input.ConfirmPassword" class="form-label">@language.GetKey("confirmPassword")</label>
											<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
										</div>
										<div class="row justify-content-center">
											<button type="submit" class="w-75 btn btn-lg btn-primary">@language.GetKey("btnUpdatePassword")</button>
										</div>
									</form>
								</div>
								<div class="col-md-3"></div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
