@page
@using ATLManager.Services;

@model DownloadPersonalDataModel
@{
    ViewData["Title"] = @language.GetKey("titleDownloadData");
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@inject LanguageService language

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
