<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ATLManager</title>
    
    <!-- Ligação ao bootstrap localmente -->
    <link rel='stylesheet' type='text/css' media='screen' href='~/lib/bootstrap/dist/css/bootstrap.min.css'>

    <!-- Configs-->
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/configs.css'>

    <!-- Scripts Locais do bootstrap -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
 </head>
<body class="d-flex flex-column min-vh-100" style="background: #EFEFEF;">

    <partial name="_LoginPartial" />

    @*<div class="container">*@
    @*<main role="main">*@
        <!-- class="pb-3"-->
            @RenderBody()
        @*</main>*@
    @*</div>*@


    <!-- Footer -->
    <footer class="bg-light text-center mt-auto">
        <!-- Copyright -->
        <div class="text-center p-3 shadow">
            <div class="row">
                <div class="col footer-p">Contactos</div>
                <div class="col footer-p">Suporte</div>
                <div class="col footer-p">Mapa do site</div>
                <div class="col footer-p">Copyright 2023, By ATLMANAGER, IPS</div>
            </div>
            <!-- Copyright -->
        </div>
    </footer>
    <!-- // Footer -->


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
