.menu {
    border-radius: 25px;
    position: fixed;
    bottom: 0;
    
    right:0; 
    right: -500px; 
    
    
    /* set the initial position of the menu */
    width: 450px;
    /* set the width of the menu */
    height: 80%;
    /* set the height of the menu */
    background-color: white;
    /* set the background color of the menu */
    transition: left 0.3s ease-out;
    /* set the transition for the menu */
}

.menu.open {
    right: 0;
    
    /* set the position of the menu when it is open */
}

.custom-h1{
    color:white;
    display: flex;
    padding: 10px;
    justify-content: center;
}

.first-container{
    border-radius: 25px 25px 0px 0px;
    height: 100%;
    width: 100%;
    background-color: #5271FF;
    
}

.search-container{
    padding: 10px 30px;
    height: 8%;
    display: flex;
    justify-content: center;
}

#search{
    height: 80%;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.custom-button-info{
    height: 50px;
    font-size: 15px;


  /* Add padding and a background color */
  /* padding: 10px 20px; */
  background-color: #DCECFF;

  /* Add hover effect */
  transition: background-color 0.3s ease;
}

.custom-button-info:hover {
    background-color: #3e8e41;
  }
  
  /* Add a border */
.custom-button-info {
    border: none;
    border-radius: 20px;
    margin-left: 13%;

    width: 100%;
    font-weight: bold;
}


.help-info1, 
.help-info2,
.help-info3,
.help-info4,
.help-info5{
    display: none;
    /* visibility: hidden; */
    margin-top: -50px;
    background-color: white;
    font-size: 13px;
    border-radius:25px 25px ;

    margin-left: 13%;
    padding: 10% 40px;

}

.help-info1{
    
    height: 30%;
    width: 78%;
   
}

.help-info2{
    height: 25%;
    width: 78%;
}


.help-info3{
    height: 25%;
    width: 78%;
}


.help-info4{
    height: 26%;
    width: 78%;
}


.help-info5{
    
    height: 29%;
    width: 78%;
}

.p-information{
    padding: 10px 10px;
}

.container-help-info{
    height: auto;
    width: 80%;
    display: block;
}
