@page
@using ATLManager.Models;
@model ConfirmEmailModel
@{
    ViewData["Title"] = language.GetKey("titleConfirmEmail");
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
@inject LanguageService language


<!-- Container -->
<div class="container h-auto mt-auto">
    <div class="d-flex justify-content-center">
        <!-- Box  -->
        <div class="row col-6 justify-content-center custom-box">
            <div class="row box border-5">
                <form method="post" class="form">
                <h1>@ViewData["Title"]</h1>
                <partial name="_StatusMessage" model="Model.StatusMessage" />
                </form>
            </div>
        </div>
        <!-- // Box -->
    </div>
</div>
<!-- // Container -->

@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
