@page
@using ATLManager.Services;

@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @language.GetKey("titleForgotPasswordConfirmation");
}
@inject LanguageService language


<body class="body">
    <!-- Image -->
    <div class="container-image-recover-password">
        <!-- <div class="image"></div> -->
        <img src="~/images/logo1.png" class="image" salt="ATLMANAGER">
    </div>
    <!-- / Image -->

    <div class="container-box">
        <!-- <div class="image"></div> -->
        <div class="box-recover-password">

            <form class="form">
                <br />

                <h1>@ViewData["Title"]</h1>
                <p>
                    @language.GetKey("txtForgotPasswordConfirmation")
                </p>
            </form>
        </div>
    </div>
</body>