@page
@using ATLManager.Services;
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager

@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @language.GetKey("titleForgotPasswordConfirmation");
}
@inject LanguageService language

@if (!SignInManager.IsSignedIn(User))
{
    <!-- Container -->
    <div class="container h-auto mt-auto">
        <div class="d-flex justify-content-center">
            <!-- Box  -->
            <div class="row col-6 justify-content-center custom-box">
                <div class="row box border-5">
                    <form class="form p-3">
                        <br />

                        <h1>@ViewData["Title"]</h1>
                        <p>
                            @language.GetKey("txtForgotPasswordConfirmation")
                        </p>
                    </form>
                </div>
            </div>
            <!-- // Box -->
        </div>
    </div>
    <!-- // Container -->
}