@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu-se da password?";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<body class="body">
    <!-- Image -->
    <div class="container-image-recover-password">
    <!-- <div class="image"></div> -->
        <img src="~/images/logo1.png" class="image" salt="ATLMANAGER">
</div>
<!-- / Image -->

<div class="container-box">
    <!-- <div class="image"></div> -->
    <div class="box-recover-password">
            
            <form method="post" class="form">
                <p><b>@ViewData["Title"]</b></p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="input-text" autocomplete="username" aria-required="true" />
               
                <span asp-validation-for="Input.Email" class="text-danger"></span>

            <br>

            <div class="button-box-login">
                <button id="login-submit" type="submit" class="custom-submit">Reset Password</button>
            </div>

            <div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>