@page
@using ATLManager.Services;

@model ForgotPasswordModel
@{
    ViewData["Title"] = language.GetKey("forgetPassword");
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
@inject LanguageService language


<!-- Container -->
<div class="container h-auto mt-auto">
    <div class="d-flex justify-content-center">
        <!-- Box  -->
        <div class="row col-6 justify-content-center custom-box">
            <div class="row box border-5">
                <form method="post" class="form">
                    <div class="text-center p-3">
                        <h3 class="fw-bold">@ViewData["Title"]</h3>
                    </div>
                    <div class="mb-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="form-control" id="email" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="text-center mb-3">
                        <button id="login-submit" type="submit" class="btn btn-primary btn-block mx-auto custom-button">@language.GetKey("btnResetPassword")</button>
                    </div>

                </form>
            </div>
        </div>
        <!-- // Box -->
    </div>
</div>
<!-- // Container -->
            
             
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
