@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Mensagem de confirmação";
}


<body class="body">
    <!-- Image -->
    <div class="container-image-recover-password">
        <!-- <div class="image"></div> -->
        <img src="~/images/logo1.png" class="image" salt="ATLMANAGER">
    </div>
    <!-- / Image -->

    <div class="container-box">
        <!-- <div class="image"></div> -->
        <div class="box-recover-password">

            <form class="form">
                <br />

                <h1>@ViewData["Title"]</h1>
                <p> Por favor, verifique o seu email para dar reset á password, caso não encontre a mensagem na caixa de entrada, verifique no SPAM do seu email
                </p>
            </form>
        </div>
    </div>
</body>