@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}


<body class="body">
    <!-- Image -->
    <div class="container-image-recover-password">
        <!-- <div class="image"></div> -->
        <img src="~/images/logo1.png" class="image" salt="ATLMANAGER">
    </div>
    <!-- / Image -->

    <div class="container-box">
        <div class="box-recover-password">

            <form method="post" class="form">
                <h1>@ViewData["Title"]</h1>
                <p>
                    Por favor, verifique o seu email para confirmar a sua conta, caso não encontre a mensagem na caixa de entrada, verifique no SPAM do seu email.
                </p>
                

            </form>
        </div>
    </div>





</body>
