@page

@using ATLManager.Models;
@using ATLManager.Services;
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@model ATLManager.Areas.Identity.Pages.Account.RegisterTypeModel


@{
	ViewData["Title"] = @language.GetKey("register");
	Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
@inject LanguageService language

@if (!SignInManager.IsSignedIn(User))
{
<!-- Container -->
<div class="container h-auto mt-auto">

    <!-- Botão de Ajuda -->
			<div class="row" style="padding-top: 2em;padding-left: 6em;">
            <div class="col-3"></div>
            <div class="col-5"></div>
            <div class="col-4 text-right pb-2">
                <button class="btn btn-primary rounded-circle" id="btn-ajuda">
                    <img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
                </button>
            </div>
        </div>
        <!-- // Botão de Ajuda -->

    <!-- Container-Form -->
    <div class="d-flex justify-content-center">
        <!-- Box  -->
        <div class="row col-6 justify-content-center custom-box">
            <div class="row text-center box border-5">
                <div class="row mb-2">
                    <h2 class="fw-bold text-primary mb-5">Tipo de Conta</h2>
                </div>

                <div class="row">
                    <div class="col-md">
                        <h5 class="fw-bold">Registar como administrador</h5>
                    </div>
                    <div class="col-md">
                        <h5 class="fw-bold">Registar como encarregado</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md p-3">
                        <img src="~/images/registo/img1.png" alt="Imagem 1" class="img-fluid rounded-pill">
                    </div>

                    <div class="col-md p-3">
                        <img src="~/images/registo/img2.png" alt="Imagem 2" class="img-fluid rounded-pill">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md p-3">
                        <a asp-area="Identity" asp-page="/Account/RegisterAdmin"><button class="btn btn-primary px-4 pl-3 pr-3 custom-button">Registar</button></a>
                    </div>

                    <div class="col-md p-3">
                        <a asp-area="Identity" asp-page="/Account/RegisterEE"><button class="btn btn-primary px-4 pl-3 pr-3 custom-button">Registar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Box -->
    </div>
    <!-- // Container-Form -->



		    <!-- Slide de Ajuda  -->
    <div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">

        <div class="row text-center mt-2">
            <div class="col-10 ">
                <h2 class="text-white ms-5">Ajuda</h2>
            </div>

            <div class="col-2">
                <button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
            </div>
        </div>
        <div class="">
            <input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
                placeholder="Procure artigos que o ajude" aria-label="Search" style="border-radius: 10px;">
        </div>
        <!-- -->
        <ul class="row justify-content-center p-4 bg-white mt-4 "
            style="position: absolute;   right: 0em; left: 0em; height: 80%;">
            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>Como registar como educado</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
                  Deverá selecionar a opção de registo como encarregado de educação

                </span>
            </li>

            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText2">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>Como registar como administrador</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText2" style="display: none; position: relative;">
                    Deverá selecionar a opção de registo como administrador

                </span>
            </li>


            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/terms.png" class="">
                        </div>
                        <div class="col">
                            <span>Leia artigos de ajuda</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center">
                        <div class="col-3">
                            <img src="~/images/guide/comunity.png" class="">
                        </div>
                        <div class="col">
                            <span>Pergunte à comunidade</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/new.png" class="">
                        </div>
                        <div class="col">
                            <span>Novas Atualizações</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/feedback.png" class="">
                        </div>
                        <div class="col">
                            <span>Dê Feedback</span>
                        </div>
                    </div>

                </button>
            </li>
        </ul>
    </div>
    <!-- // Slide de Ajuda  -->
</div>

  

	<script type="text/javascript">
        // Script: Sempre que o botão dentro do menu ajuda é clicado mostra ou esconde a informação do mesmo
        document.getElementById('showText2').addEventListener('click', function () {
            var displayText = document.getElementById('displayText2');
            var showTextBtn = document.getElementById('showText2');

            if (displayText.style.display === 'none') {
                displayText.style.display = 'block';
                showTextBtn.classList.remove('btn-help', 'btn');
                showTextBtn.classList.add('myButton');

            } else {
                displayText.style.display = 'none';
                showTextBtn.classList.remove('myButton');
                showTextBtn.classList.add('btn-help');
            }
        });
        //

        // Script: Sempre que o botão dentro do menu ajuda é clicado mostra ou esconde a informação do mesmo
        document.getElementById('showText3').addEventListener('click', function () {
            var displayText = document.getElementById('displayText3');
            var showTextBtn = document.getElementById('showText3');

            if (displayText.style.display === 'none') {
                displayText.style.display = 'block';
                showTextBtn.classList.remove('btn-help', 'btn');
                showTextBtn.classList.add('myButton');

            } else {
                displayText.style.display = 'none';
                showTextBtn.classList.remove('myButton');
                showTextBtn.classList.add('btn-help');
            }
        });
        //

        // Script: Sempre que o botão dentro do menu ajuda é clicado mostra ou esconde a informação do mesmo
        document.getElementById('showText4').addEventListener('click', function () {
            var displayText = document.getElementById('displayText4');
            var showTextBtn = document.getElementById('showText4');

            if (displayText.style.display === 'none') {
                displayText.style.display = 'block';
                showTextBtn.classList.remove('btn-help', 'btn');
                showTextBtn.classList.add('myButton');

            } else {
                displayText.style.display = 'none';
                showTextBtn.classList.remove('myButton');
                showTextBtn.classList.add('btn-help');
            }
        });
        //

        // Script: Sempre que o botão dentro do menu ajuda é clicado mostra ou esconde a informação do mesmo
        document.getElementById('showText5').addEventListener('click', function () {
            var displayText = document.getElementById('displayText5');
            var showTextBtn = document.getElementById('showText5');

            if (displayText.style.display === 'none') {
                displayText.style.display = 'block';
                showTextBtn.classList.remove('btn-help', 'btn');
                showTextBtn.classList.add('myButton');

            } else {
                displayText.style.display = 'none';
                showTextBtn.classList.remove('myButton');
                showTextBtn.classList.add('btn-help');
            }
        });
        //

		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }

}