@page
@using ATLManager.Services;

@model RegisterConfirmationModel
@{
    ViewData["Title"] = @language.GetKey("txtRegisterConfirmation");
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
@inject LanguageService language

<body class="body">

    <!-- Container -->
<div class="container h-auto mt-auto" style="padding-top:6em">
    <div class="d-flex justify-content-center">
        <!-- Box  -->
        <div class="row col-6 justify-content-center custom-box">
            <div class="row box border-5">
                    <form method="post" class="form">
                        <h1>@ViewData["Title"]</h1>
                        <p>
                            @language.GetKey("txtConfirmEmail")
                        </p>


                    </form>
            </div>
        </div>
        <!-- // Box -->
    </div>
</div>
<!-- // Container -->





</body>
