@page
@using ATLManager.Services;

@model RegisterConfirmationModel
@{
    ViewData["Title"] = @language.GetKey("txtRegisterConfirmation");
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
@inject LanguageService language

<body class="body">
    <!-- Image -->
    <div class="container-image-recover-password">
        <!-- <div class="image"></div> -->
        <img src="~/images/logo1.png" class="image" salt="ATLMANAGER">
    </div>
    <!-- / Image -->

    <div class="container-box">
        <div class="box-recover-password">

            <form method="post" class="form">
                <h1>@ViewData["Title"]</h1>
                <p>
                    @language.GetKey("txtConfirmEmail")
                </p>
                

            </form>
        </div>
    </div>





</body>
