@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Reenvie confirmação de email";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<body class="body">
    <!-- Image -->
    <div class="container-image-recover-password">
    <!-- <div class="image"></div> -->
        <img src="~/images/logo1.png" class="image" salt="ATLMANAGER">
    </div>
    <!-- / Image -->

<div class="container-box">
    <!-- <div class="image"></div> -->
    <div class="box-recover-password">
            
            <form method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <h1>@ViewData["Title"]</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="input-text" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>


            <br>

            <div class="button-box-login">
                    <button type="submit" class="custom-submit">Reenviar</button>
            </div>

            <div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>