@page
@using ATLManager.Services;
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @language.GetKey("titleResetPasswordConfirmation");
}
@inject LanguageService language
@if (!SignInManager.IsSignedIn(User))
{
<h1>@ViewData["Title"]</h1>
<p>
    @language.GetKey("txt1ResetPasswordConfirmation") <a asp-page="./Login">@language.GetKey("txt2ResetPasswordConfirmation")</a>.
</p>
}