@using ATLManager.Services;
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@inject LanguageService language

@{
    ViewData["Title"] = language.GetKey("titleAboutUs");
}

@if (!SignInManager.IsSignedIn(User))
{
	<!-- Fase 1  -->
	<!-- d-flex -->
	<!-- Container -->
	<div class="container-fluid mt-5">
		<div class="d-flex justify-content-center" id="divFase1">
			<!-- Box  -->
			<div class="row justify-content-center custom-box col-9" id="myBox">
				<div class="row box border-5 p-4">
					<!--text-center  -->
					<div class="container">
						<div class="row mt-3">
							@if (language.GetCurrentLanguage() == "en")
							{
								<h1 class="display-4 text-center mb-4">
									About Us
								</h1>
							}
							else
							{
								<h1 class="display-4 text-center mb-4">
									Sobre Nós
								</h1>
							}




							<div class="row">	
							</div>
							<div class="d-flex justify-content-center mb-3">
								<div class="row col-10">
									<div class="col-md">
										@if (language.GetCurrentLanguage() == "en")
										{
											<h3>Historical origin of the project:</h3>
											<p>The project was motivated by the need to optimize/reduce the time spent on "basic" tasks by a known ATL, in order to improve the organization of various documents, procedures, and tasks, as well as the excessive use of paper, which results in enormous losses of information internally and also with guardians.</p>
											<p>Guardians, when they need to fill out any document related to their students (field trips, photo authorizations, permissions to leave school) or consult payment receipts, need to travel to the ATL, which can be difficult due to lack of time.</p>

											<h3>What problem needs to be solved?</h3>
											<p>The problems to be solved are:</p>
											<ul>
												<li>Excessive use of paper;</li>
												<li>Communication difficulties between the ATL and guardians;</li>
												<li>Disorganization and information failures that may occur internally in the ATL;</li>
												<li>Lack of centralized information;</li>
												<li>Loss of documents, from registration forms to authorizations and lunch attendance.</li>
											</ul>

											<h3>What are the approaches to solving the problem?</h3>
											<p>The approach to the problem is the creation of a management platform where ATL employees can create forms, manage meals, and guardians can easily consult and fill them out.</p>

										} 
										else @if (language.GetCurrentLanguage() == "pt")
										{
											<h2>Histórico e Motivação</h2>
											<p>A História do Projeto e Motivação apareceram pelo fator de saber em concreto estas necessidades por um familiar, onde o cliente (ATL) necessita de uma informatização do seu sistema. Então desta forma foi pensado em generalizar, para que o projeto otimize desde as necessidades de Agrupamentos de ATL’s até ATL’s mais pequenos.</p>

											<h3>Origem histórica do projeto:</h3>
											<p>O motivo do projeto derivou da necessidade de otimizar/diminuir o tempo gasto em tarefas “básicas” por parte de um ATL conhecido, de forma a melhorar a organização dos vários documentos, procedimentos e tarefas do mesmo e também pelo uso excessivo de papel nestes mesmos documentos no que origina em enormes perdas de informação internamente e também com os Encarregados de Educação.</p>
											<p>Os Encarregados de Educação quando precisam de preencher algum documento relativo aos seus Educandos (visitas de estudo, autorizações de fotografias, permissões para sair da escola) ou consultar os Recibos de Pagamento necessitam de se deslocar ao ATL, o que por vezes é difícil por falta de tempo.</p>

											<h3>Qual o problema a ser resolvido?</h3>
											<p>Os problemas a serem resolvidos são:</p>
											<ul>
												<li>O uso excessivo de papel;</li>
												<li>Dificuldades na comunicação entre o ATL e os Encarregados de Educação;</li>
												<li>Desorganização e falhas de informação que possam ocorrer internamente no ATL;</li>
												<li>Falta de centralização de informação;</li>
												<li>Extravio de documentos, desde fichas de inscrição, autorizações, presenças de almoço;</li>
											</ul>

											<h3>Quais as abordagens para a resolução do problema?</h3>
											<p>A abordagem ao problema é a criação de uma plataforma de gestão onde os funcionários do ATL poderão criar os formulários, gerir as refeições e os Encarregados de Educação podem consultar e preencher os mesmos com facilidade.</p>

										}

                                     </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- // Box -->
	</div>

 }


<!-- SCRIPT PARA CLICAR NO MENU E MUDAR LI SELECIONADO (ACTIVE)  -->
<script>
    $(document).ready(function () {
        var activeId = "about-us"; // desired li element
        $('#' + activeId).addClass('active'); // add the active class to the desired li element
        $('.nav-link').click(function () {
            // check if the clicked nav-link has an id of "language"
            if ($(this).attr('id') === 'language') {
                // do nothing
                return;
            }
            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
