@using ATLManager.Services;
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@inject LanguageService language

@{
    ViewData["Title"] = language.GetKey("titleAboutUs");
}

@if (!SignInManager.IsSignedIn(User))
{
    <div>
        <h1 class="display-4">@language.GetKey("txtWelcomeToPageAboutUs")</h1>
        <p>@language.GetKey("txt1AboutUs")</p>
        <p>@language.GetKey("txt2AboutUs")</p>
        <p>@language.GetKey("txt3AboutUs")</p>
    </div>
 }


<!-- SCRIPT PARA CLICAR NO MENU E MUDAR LI SELECIONADO (ACTIVE)  -->
<script>
    $(document).ready(function () {
        var activeId = "about-us"; // desired li element
        $('#' + activeId).addClass('active'); // add the active class to the desired li element
        $('.nav-link').click(function () {
            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
