@{
    ViewData["Title"] = "Contact Us";
}

<div>
    <h1 class="display-4">Bem Vindo á página @ViewData["Title"]</h1>
    <p>Esta página será usada para nos contactar (to be continued)</p>
</div>


<!-- SCRIPT PARA CLICAR NO MENU E MUDAR LI SELECIONADO (ACTIVE)  -->
<script>
    $(document).ready(function () {
        var activeId = "contact-us"; // desired li element
        $('#' + activeId).addClass('active'); // add the active class to the desired li element
        $('.nav-link').click(function () {
            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
