@using ATLManager.Services;
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@inject LanguageService language


@{
    ViewData["Title"] = "Home Page";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div>
        <h1 class="display-4">@language.GetKey("welcome")</h1>

        <p class="pClass">@language.GetKey("txtWelcome")</p>
    </div>
}

<script>
    $(document).ready(function () {
        var activeId = "home"; // desired li element
        $('#' + activeId).addClass('active'); // add the active class to the desired li element
        $('.nav-link').click(function () {
            // check if the clicked nav-link has an id of "language"
            if ($(this).attr('id') === 'language') {
                // do nothing
                return;
            }
            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>