@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
  
    <p>Está á procura da forma mais eficiente de gerir o seu atl ou agrupamento de atl's?</p>
</div>
