@using ATLManager.Services;
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@inject LanguageService language


@{
    ViewData["Title"] = "Home Page";
}

    <style>
    .chart-fade {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .chart-wrapper {
        width: 100%;
        height: 100%; /* Atualizado para 100% */
        position: absolute; /* Adicione posição absoluta */
    }
    .card-body {
        overflow: hidden;
    }

    .chart-area {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .chart-navigation {
        display: flex;
        align-items: center;
        flex-wrap: wrap; /* Adicionada a regra flex-wrap para ajustar o layout em telas menores */
    }

    .chart-nav-button {
        background-color: #6777ef;
        border: 1px solid #dee2e6;
        padding: 0.5rem;
        cursor: pointer;
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #ffffff;
        margin: 0.5rem; /* Adicionada margem para dar espaço entre os elementos em telas menores */
    }

    /* Adicionada regra para posicionar o botão à direita */
    #next-chart {
        margin-left: auto;
    }

    </style>

    
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>


    <script>
        $(document).ready(function () {
            var activeId = "home"; // desired li element
            $('#' + activeId).addClass('active'); // add the active class to the desired li element
            $('.nav-link').click(function () {
                // check if the clicked nav-link has an id of "language"
                if ($(this).attr('id') === 'language') {
                    // do nothing
                    return;
                }
                $('.nav-link').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>

    
<script>
        function formatDate(dateString) {
            const date = new Date(dateString);
            const day = String(date.getDate()).padStart(2, '0');
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const year = date.getFullYear();
            return `${day}/${month}/${year}`;
        }
    
        async function fetchRefeicoes() {
            const response = await fetch('/Home/GetRefeicoesByATLId');
            const refeicoes = await response.json();

            const currentDate = new Date();

            const sortedRefeicoes = refeicoes
                .map(refeicao => ({
                    ...refeicao,
                    data: new Date(refeicao.data)
                }))
                .sort((a, b) => a.data - b.data)
                .filter(refeicao => refeicao.data >= currentDate)
                .slice(0, 5);

            const tableBody = document.getElementById('refeicoes-table-body');
            tableBody.innerHTML = '';

            if (sortedRefeicoes != null && sortedRefeicoes.length > 0) {
                sortedRefeicoes.forEach((refeicao) => {
                    const row = document.createElement('tr');

                    row.addEventListener('click', () => {
                        window.location.href = `/Refeicoes/Details/${refeicao.refeicaoId}`;
                    });

                    const pictureCell = document.createElement('td');
                    const pictureImg = document.createElement('img');
                    pictureImg.src = `/images/uploads/refeicoes/${refeicao.picture}`;
                    pictureImg.className = 'rounded-circle';
                    pictureImg.height = 40;
                    pictureImg.width = 40;
                    pictureCell.appendChild(pictureImg);

                    const nameCell = document.createElement('td');
                    nameCell.textContent = refeicao.name;

                    const categoriaCell = document.createElement('td');
                    categoriaCell.textContent = refeicao.categoria;

                    const dataCell = document.createElement('td');
                    dataCell.textContent = refeicao.data.toLocaleDateString('pt-PT');

                    row.appendChild(pictureCell);
                    row.appendChild(nameCell);
                    row.appendChild(categoriaCell);
                    row.appendChild(dataCell);

                    tableBody.appendChild(row);
                });
            } else {
                const noRefeicoesRow = document.createElement('tr');
                const noRefeicoesCell = document.createElement('td');
                noRefeicoesCell.colSpan = 4;
                noRefeicoesCell.textContent = 'Não há ementas disponíveis.';
                noRefeicoesRow.appendChild(noRefeicoesCell);
                tableBody.appendChild(noRefeicoesRow);
            }
        }

        async function fetchFormularios() {
            try {
                const response = await fetch(`/Home/GetFormulariosByATLId`);
                const formularios = await response.json();

                const currentDate = new Date();

                const sortedFormularios = formularios
                    .map(formulario => ({
                        ...formulario,
                        formularioEndDate: new Date(formulario.formularioEndDate)
                    }))
                    .sort((a, b) => a.formularioEndDate - b.formularioEndDate)
                    .filter(formulario => formulario.formularioEndDate >= currentDate)
                    .slice(0, 3);

                const tableBody = document.getElementById('formularios-table-body');
                tableBody.innerHTML = '';

                if (sortedFormularios != null && sortedFormularios.length > 0) {
                    sortedFormularios.forEach((formulario) => {
                        const row = document.createElement('tr');
                        row.style.cursor = 'pointer';

                        row.addEventListener('click', () => {
                            window.location.href = `/FormularioRespostas/Details/${formulario.respostaId}`;
                        });

                        const formularioNameCell = document.createElement('td');
                        formularioNameCell.textContent = formulario.formularioName;

                        const educandoNameCell = document.createElement('td');
                        educandoNameCell.textContent = formulario.educandoName;

                        const formularioEndDateCell = document.createElement('td');
                        formularioEndDateCell.textContent = formatDate(formulario.formularioEndDate);

                        row.appendChild(formularioNameCell);
                        row.appendChild(educandoNameCell);
                        row.appendChild(formularioEndDateCell);

                        tableBody.appendChild(row);
                    });
                } else {
                    const noFormulariosRow = document.createElement('tr');
                    const noFormulariosCell = document.createElement('td');
                    noFormulariosCell.colSpan = 3;
                    noFormulariosCell.textContent = 'Não há formulários disponíveis.';
                    noFormulariosRow.appendChild(noFormulariosCell);
                    tableBody.appendChild(noFormulariosRow);
                }

            } catch (error) {
                console.error('Erro ao buscar formularios:', error);
            }
        }
        

        document.addEventListener('DOMContentLoaded', async () => {
            await fetchRefeicoes();
            await fetchFormularios();
        });
    </script>

}

@if (!SignInManager.IsSignedIn(User))
{
    <!-- Primeira row, frase + logo -->
    <div>
        <div class="row p-3">
            <div class="col col-6 p-3">
                <h1 class="display-4 mt-4 pt-4 p-3" style="margin-left: 15%; ">
                    Está à procura da forma mais
                    eficiente de gerir o seu <span class="text-primary"> ATL ou Agrupamento de ATL's ?</span>
                </h1>
            </div>
            <div class="col col-1"></div>
            <div class="col col-5 mt-5 text-center">
                <img src="~/images/logo/logo1.png" class="mb-4" style="margin-top:3em ;margin-left: 5%; width: 45%;">
            </div>
        </div>
    </div>
    <!-- // Primeira row, frase + logo -->
    <!-- Segunda row -->

    <div class="row bg-white pl-3 justify-content-center">
        <div class="row p-3">
            <div class="col">
                <div class="row"></div>
                <div class="row justify-content-center">
                    <img src="~/images/non-login-pages/handshake1.png" class="p-3"
                         style="width: 26.4%;">
                </div>
                <div class="row text-center">
                    <h3 class="fw-bold">235</h3>
                </div>
                <div class="row text-center">
                    <h3>Utilizadores diários</h3>
                </div>
            </div>
            <div class="col">
                <div class="row"></div>
                <div class="row justify-content-center">
                    <img src="~/images/non-login-pages/chart1.png" class="w-25 p-3">
                </div>
                <div class="row text-center">
                    <h3 class="fw-bold">8+</h3>
                </div>
                <div class="row text-center">
                    <h3>Anos de experiência</h3>
                </div>
            </div>
            <div class="col">
                <div class="row"></div>
                <div class="row justify-content-center">
                    <img src="~/images/non-login-pages/people1.png" class="w-25 p-3">
                </div>
                <div class="row text-center">
                    <h3 class="fw-bold">12</h3>
                </div>
                <div class="row text-center">
                    <h3>Agrupamentos</h3>
                </div>
            </div>
            <div class="col">
                <div class="row"></div>
                <div class="row justify-content-center">
                    <img src="~/images/non-login-pages/badge1.png" class="w-25 p-3">
                </div>
                <div class="row text-center">
                    <h3 class="fw-bold">112</h3>
                </div>
                <div class="row text-center">
                    <h3>ATL's</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- // Segunda row -->
    <!-- Terceira row -->
    <div class="row">
        <div class="col text-center">
            <div class="row justify-content-center">
                <img src="~/images/non-login-pages/eficacia.png" class="p-3 w-25">
            </div>
            <div class="row">
                <h3 class="fw-bold">Eficácia</h3>
            </div>
            <div class="row mb-5">
                <h4 class="mb-4">
                    Our solutions combine technology and acumen to attract and hire people who will contribute to your
                    company's growth.
                </h4>
            </div>
        </div>
        <div class="col text-center">
            <div class="row justify-content-center">
                <img src="~/images/non-login-pages/eficiencia.png" class="p-3 w-25">
            </div>
            <div class="row">
                <h3 class="fw-bold">Eficácia</h3>
            </div>
            <div class="row">
                <h4>
                    Employ whenever you need and for the period you want, from a pool of independently-screened
                    candidates.
                </h4>
            </div>
        </div>
        <div class="col text-center">
            <div class="row justify-content-center">
                <img src="~/images/non-login-pages/custo_benificio.png"
                     class="p-3 w-25">
            </div>
            <div class="row">
                <h3 class="fw-bold">Eficácia</h3>
            </div>
            <div class="row">
                <h4>
                    Employ whenever you need and for the period you want, from a pool of independently-screened
                    candidates.
                </h4>
            </div>
        </div>
    </div>
    <!-- // Terceira row -->
}
else
{
    <div class="row justify-content-center">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Faturação (Por Mês)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">40,000 €</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span>Since last month</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Faturas por pagar</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">10</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                                <span>Since last years</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-shopping-cart fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New User Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Novos Educandos</div>
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">366</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span>
                                <span>Since last month</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Recibos Por Autorizar</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                                <span>Since yesterday</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card mb-4">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Monthly Recap Report</h6>
            </div>


            <div class="card-body">
                <div class="chart-navigation">
                    <div class="chart-area">
                        <div class="chart-wrapper chart-fade">
                            <h8 class="m-0 text-primary">Visitas de Estudo</h8>
                            <canvas id="myAreaChartVisitaEstudos" style="display: none;"></canvas>
                            <div id="noVisitasEstudoData" style="display: none;">Sem visitas de estudo registadas</div>
                        </div>
                        <div class="chart-wrapper chart-fade">
                            <h8 class="m-0 text-primary">Atividades</h8>
                            <canvas id="myAreaChartAtividades" style="display: none;"></canvas>
                            <div id="noAtividadesData" style="display: none;">Sem atividades registadas</div>
                        </div>
                        <div class="chart-wrapper chart-fade">
                            <h8 class="m-0 text-primary">Educandos Por Mês</h8>
                            <canvas id="myAreaChartAtividades" style="display: none;"></canvas>
                            <div id="noAtividadesData" style="display: none;">Sem educandos registados</div>
                        </div>
                        <div class="chart-wrapper chart-fade">
                            <h8 class="m-0 text-primary">Número de Rapazes & Número de Raparigas</h8>
                            <canvas id="myAreaChartAtividades" style="display: none;"></canvas>
                            <div id="noAtividadesData" style="display: none;">Sem dados no registo</div>
                        </div>
                        <div class="chart-wrapper chart-fade">
                            <h8 class="m-0 text-primary">Faturas Pagas x Faturas em Atraso</h8>
                            <canvas id="myAreaChartAtividades" style="display: none;"></canvas>
                            <div id="noAtividadesData" style="display: none;">Sem dados registados</div>
                        </div>
                    </div>
                    <button id="prev-chart" class="chart-nav-button">&larr;</button>
                    <button id="next-chart" class="chart-nav-button">&rarr;</button>
                </div>
            </div>
        </div>

        <div class="card mb-4">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Ementas Semanais</h6>
            </div>

            <table class="table table-hover border text-center" style="background:#d3e3f2;cursor: pointer;" id="myTable">
                <thead>
                    <tr>
                        <th class="text-center pr-2">
                            Imagem
                        </th>
                        <th class="text-center pr-2">
                            Nome
                        </th>
                        <th class="text-center pr-2">
                            Categoria
                        </th>
                        <th class="text-center pr-2">
                            Data
                        </th>
                    </tr>
                <tbody id="refeicoes-table-body">
                    <!-- As linhas da tabela serão adicionadas dinamicamente pela função JavaScript -->
                </tbody>
            </table>
        </div>

        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Faturas Por Comprovar</h6>
            </div>
            <div class="table-responsive">
                <table class="table table-hover border text-center" style="background:#d3e3f2;cursor: pointer;" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center pr-2">
                                Nome
                            </th>
                            <th class="text-center pr-2">
                                Educando
                            </th>
                            <th class="text-center pr-2">
                                Data Limite
                            </th>
                            <th class="text-center pr-2">
                                Valor €
                            </th>
                        </tr>
                    <tbody id="faturas-table-body">
                        <!-- As linhas da tabela serão adicionadas dinamicamente pela função JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-5">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Formulários Por Responder</h6>
            </div>
            <div class="table-responsive">
                <!-- Adicione esta div com a classe table-responsive -->
                <table class="table table-hover border text-center" style="background:#d3e3f2;cursor: pointer;" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center pr-2">
                                Nome
                            </th>
                            <th class="text-center pr-2">
                                Educando
                            </th>
                            <th class="text-center pr-2">
                                Data Limite
                            </th>
                        </tr>
                    <tbody id="formularios-table-body">
                        <!-- As linhas da tabela serão adicionadas dinamicamente pela função JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Calendário de Atividades</h6>
            </div>
            <div id="smallCalendar" class="row"></div>
        </div>
    </div>
}