@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link rel="stylesheet" type='text/css' media='screen' href="~/css/style.css">

    <link rel='stylesheet' type='text/css' media='screen' href='~/css/footer.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/menu.css'>

</head>

<body>
    <!-- Menu -->
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
        <li style="float:right"><a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li style="float:right"><a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
    <!-- / Menu -->

    <div class="text-center">
        <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <p>Use this page to detail your site's privacy policy.</p>

    <div class="footer">
        <!-- Footer content goes here -->
        <p id="f1">Contactos</p>
        <p id="f2">Suporte</p>
        <p id="f3">Mapa do site</p>
        <p id="f4">COPYRIGHT 2023, by ATLMANAGER, IPS</p>
    </div>

</body>





