@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link rel="stylesheet" type='text/css' media='screen' href="~/css/style.css">
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/footer.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/menu.css'>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Bem Vindo á página @ViewData["Title"]</h1>
        <p class="pClass">Esta página será usada para explicar as políticas da aplicação (to be continued)</p>
    </div>  
</body>





