@{
    ViewData["Title"] = @language.GetKey("titlePrivacyPolicy");
}
@inject LanguageService language

<head>
    <link rel="stylesheet" type='text/css' media='screen' href="~/css/style.css">
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/footer.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/menu.css'>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">@language.GetKey("txt1PrivacyPolicy") @ViewData["Title"]</h1>
        <p class="pClass">@language.GetKey("txt2PrivacyPolicy")</p>
    </div>  
</body>





