@model ATLManager.ViewModels.ResponsavelCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EducandoResponsavel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <input type="hidden" asp-for="EducandoId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apelido" class="control-label"></label>
                <input asp-for="Apelido" class="form-control" />
                <span asp-validation-for="Apelido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CC" class="control-label"></label>
                <input asp-for="CC" class="form-control" />
                <span asp-validation-for="CC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                <input asp-for="ProfilePicture" class="form-control" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parentesco" class="control-label"></label>
                <input asp-for="Parentesco" class="form-control" />
                <span asp-validation-for="Parentesco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Educandos" asp-action="DetailsResponsaveis" asp-route-id="@Model.EducandoId">Back to List</a>
</div>

