@model ATLManager.ViewModels.ATLCreateViewModel
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager

@{
	ViewData["Title"] = "Create";
}
<link rel='stylesheet' type='text/css' media='screen' href='~/css/custom-box-12.css'>

@if (SignInManager.IsSignedIn(User))
{
	<!-- Fase 1  -->
	<!-- d-flex -->
	<!-- Container -->
	<div class="container-fluid">
		<div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 2%;">
			<h1 class="me-3 fw-bold text-center mb-4">Criar Atl</h1>
			<img src="~/images/icons/add-group.png" width="50" height="50">
		</div>

		<div class="row" style="padding-left: 6em;">
			<div class="col-3"></div>
			<div class="col-5"></div>
			<div class="col-4  pb-2" id="divQuestion">
				<button class="btn btn-primary rounded-circle" id="btn-ajuda">
					<img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
				</button>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<!-- Box  -->
			<div class="row justify-content-center custom-box" id="myBox">
				<div class="row box border-5">
					<div class="container">
						<div class="row mt-3">
							<div class="mb-3">
								<div class="row">
									<div class="col-md">
										<form enctype="multipart/form-data" asp-action="Create">
											<div asp-validation-summary="ModelOnly" class="text-danger"></div>
											<div class="row mb-3">
												<div class="col-6">
													<div class="form-group">
														<label asp-for="Name" class="control-label"></label>
														<input asp-for="Name" class="form-control" placeholder="Insira um nome" />
														<span asp-validation-for="Name" class="text-danger"></span>
													</div>
											</div>
												<div class="col-6">
													<div class="form-group">
														<label asp-for="Address" class="control-label"></label>
														<input asp-for="Address" class="form-control" placeholder="Insira uma morada" />
														<span asp-validation-for="Address" class="text-danger"></span>
													</div>
											</div>
											</div>
											<div class="row mb-3">
												<div class="col-6">
													<label asp-for="PostalCode" class="control-label"></label>
													<div class="input-group">
														<input asp-for="PostalCode" class="form-control" placeholder="Insira um código postal" />
														<span asp-validation-for="PostalCode" class="text-danger"></span>
														@*<input type="text" class="form-control" id="codigo-postal-1" placeholder="XXXX">
													<span class="input-group-text">-</span>
													<input type="text" class="form-control" id="codigo-postal-2" placeholder="XXX">*@
													</div>
												</div>
												<div class="col-6">
													<label asp-for="City" class="control-label"></label>
													<input asp-for="City" class="form-control" placeholder="Insira uma cidade" />
													<span asp-validation-for="City" class="text-danger"></span>
												</div>
											</div>
											<div class="form-switch row text-center mb-2 pt-3">
												<div class="col-8">Pertence a um agrupamento?</div>
												<div class="col-2">
													<input class="form-check-input" style="float:left" type="checkbox" id="toggleSwitch">
												</div>
											</div>
											<div class="row mb-3" id="divCertidao">
												<div class="col-12">
													<label asp-for="NIPC" class="control-label"></label>
													<input asp-for="NIPC" class="form-control" placeholder="Insira um nipc" />
													<span asp-validation-for="NIPC" class="text-danger"></span>
												</div>
											</div>
											
											<div class="row mb-3" id="divAgrupamento" style="display: none;">
												<div class="col-12">
													<label asp-for="AgrupamentoId" class="form-label"></label>
													<select asp-for="AgrupamentoId" class="form-control" asp-items="ViewBag.AgrupamentoId"> 
														<option value="">Escolha um Agrupamento</option>
													</select>
												</div>
											</div>
											
											<div class="form-group">
												<label asp-for="LogoPicture" class="control-label"></label>
												<div class="custom-file">
													<input asp-for="LogoPicture" class="custom-file-input" id="customFile">
													<label class="custom-file-label" for="customFile">Choose file</label>
												</div>
												<span asp-validation-for="LogoPicture" class="text-danger"></span>
											</div>
											<hr />
											<div class="d-flex text-center mt-4">
												<div class="col text-right">
													<a asp-action="Index">
														<button type="button"
																class="btn btn-secondary custom-button w-50" style="border-radius:6em">
															Voltar
														</button>
													</a>
												</div>
												<div class="col text-left">
													<div class="form-group">
														<input type="submit" value="Create" class="btn btn-primary w-50" style="border-radius:6em" />
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- // Box -->
				</div>
				<!-- // Fase 1 -->
			</div>
		</div>
	</div>

		    <!-- Slide de Ajuda  -->
    <div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">

        <div class="row text-center mt-2">
            <div class="col-10 ">
                <h2 class="text-white ms-5">Ajuda</h2>
            </div>

            <div class="col-2">
                <button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
            </div>
        </div>
        <div class="">
            <input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
                placeholder="Procure artigos que o ajude" aria-label="Search" style="border-radius: 10px;">
        </div>
        <!-- -->
        <ul class="row justify-content-center p-4 bg-white mt-4 "
            style="position: absolute;   right: 0em; left: 0em; height: 80%;">
            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>Como alterar uma visita de estudo</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
                    Here's some more textHere's some more textHere's some more textHere's some
                    more textHe

                </span>
            </li>


            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/terms.png" class="">
                        </div>
                        <div class="col">
                            <span>Leia artigos de ajuda</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center">
                        <div class="col-3">
                            <img src="~/images/guide/comunity.png" class="">
                        </div>
                        <div class="col">
                            <span>Pergunte à comunidade</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/new.png" class="">
                        </div>
                        <div class="col">
                            <span>Novas Atualizações</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/feedback.png" class="">
                        </div>
                        <div class="col">
                            <span>Dê Feedback</span>
                        </div>
                    </div>

                </button>
            </li>
        </ul>
    </div>
    <!-- // Slide de Ajuda  -->
	<!--  Options Script -->
	<script>
		const toggleSwitch = document.getElementById('toggleSwitch');
		const divAgrupamento = document.getElementById('divAgrupamento');
		const divCertidao = document.getElementById('divCertidao');


		toggleSwitch.addEventListener('change', function () {
			if (toggleSwitch.checked) {
				divAgrupamento.style.display = 'block';
				divCertidao.style.display = 'none';
			} else {
				divAgrupamento.style.display = 'none';
				divCertidao.style.display = 'block';
			}
		});
	</script>

	<script type="text/javascript">
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>

	<!--  // Options Script -->
	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
}